<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="navbar">
  <div class="navbar-inner">
  <a class="brand" href="#">ITPC</a>
    <ul class="nav">
      
        <li>@Html.ActionLink("R&D","index","Home")</li>
        <li>@Html.ActionLink("R&D Solution","index","Home")</li>
        <li>@Html.ActionLink("R&D AM","index","Home")</li>
        <li>@Html.ActionLink("BIS","index","Home")</li>
        <li>@Html.ActionLink("BIS AM", "index", "Home")</li>
        <li>@Html.ActionLink("BIS Solution", "index", "Home")</li>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "navbar-form pull-left" }))
        {
        
            <input type="text" class="span5" />
            <button type="submit" class="btn btn-primary">
                Search your info</button>
        }
        <li>@Html.ActionLink("login", "Login", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
    </ul>
  </div>
    </div>
            <div class="content-wrapper">
                <div class="float-left">
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                  
                </div>
            </div>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
      
    </body>
</html>
