<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    @Html.ActionLink("LeduInfo", "Index", "Home", new { @class = "brand" })
    <ul class="nav">
      
        <li>@Html.ActionLink("R&D","index","Home")</li>
        <li>@Html.ActionLink("R&D Solution","index","Home")</li>
        <li>@Html.ActionLink("R&D AM","index","Home")</li>
        <li>@Html.ActionLink("BIS","index","Home")</li>
        <li>@Html.ActionLink("BIS AM", "index", "Home")</li>
        <li>@Html.ActionLink("HouseResource", "index", "House")</li>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "navbar-form pull-left" }))
        {
            <div class="icon-search"></div>
            <input type="text" class="span5" placeholder="Search"/>
           
            
            <button type="submit" class="btn btn-primary">
                Search your info</button>
        }
        
        <li>@Html.ActionLink("login", "Login", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
    </ul>
  </div>
    </div>
            <div class="content-wrapper">
                <div class="float-left">
                </div>
                <div class="float-right">
                        @Html.Partial("_LoginPartial")
                  
                </div>
            </div>
        
        <div id="body">
            @RenderSection("featured", required: false)
            
                 @RenderBody()
        </div>
      
    </body>
</html>
